body {
  background-color:  #D2908F;
}
.page1 {
    
	background: linear-gradient(180deg, #10162C, #D2908F);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Roboto,Arial,sans-serif;
	width: auto;
	height: auto;
}

.rotation_img {
  vertical-align:middle;
}
.rotation_img:hover {
  vertical-align:middle;
  animation: rotating 2s linear infinite;
}

.icon {
  vertical-align:middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 300px;
  opacity: 0.90;
  z-index: 2;
  height: 100%;
  background-color: #2C2F33;
  box-shadow: 1px 1px 20px black;
  
}


li a {
  margin-left: 20px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  opacity: 1.25 !important;
  white-space: nowrap;
  transition: left 0.1s, -webkit-transform 0.1s;
  transform: translateX(2%);
}


li a:hover {
    transform: translateX(10px);
    
}

.navbar {
    display: block;
    z-index: 2 !important;
    
}

.bouton {
  margin-left: 38px;
  opacity: 1;
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 16px;
  font-weight: 50px;
  font-size: 15px;
  width: 75px;
  border-radius: 50px;
}

.bottom1 {
    position: relative;
    margin-left: 350px;
    top: -400px;
    font-size: 35px;
    color: white !important;
    background-color: #4946FF !important;
    font-weight: bold;
    padding: 10px 36px;
    transition: .5s background-color;
}

.bottom1:hover {
    color: white !important;
    background-color: #D45AFF !important;
    
}

h1 {
    opacity: 1;
    vertical-align: text-top;
    position: relative;
    margin-left: 350px;
    top: -450px;
    font-size: 64px;
    color: white;
    font-weight: bold;
    z-index: 2;
    text-shadow: 0 0 10px #1A1C31
    
}


.logo_img {
   display: block;
   position: relative;
   left: 55%;
   top: 100px;
   transform-origin: 50% 50%;
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 
@-webkit-keyframes zoominoutsinglefeatured {
    
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.logo_img {
    -webkit-animation: zoominoutsinglefeatured 1s infinite ;
    
}
.logo_img2 {
   position: absolute;
   left: 55%;
   top: 100px;
}

@media only screen and (max-width: 1334px) {
  .logo_img {
    display: none;
  }
  .logo_img2 {
    display: none;
  }
  .bottom1 {display: none;}
  .bottom2 {display: none;}
  .navbar{
    display: none;
  }

  h1 {
    display: none;
    
}

  .perf {
    display:table-cell !important;
    padding: 20px;
  }
}
.perf {
  opacity: 1;
  background-color: #2C2F33;
  top: 100%;
  height: 1000px !important;
  width: 100%;
  display: inline-flex;
  z-index: 2;
  box-shadow: 0px 0px 0px white !important;
  
}
.text {

  text-align: center;
  margin-left: 20px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0px 5%;
  text-decoration: none;
  position: relative;
  
  top: 50px;

}


.bottom2 {
position: relative;
transition: .5s background-color;
margin-left: 50px;
top: 900px;
background-color: #4946FF !important;
font-weight: bold;
color: white !important;
padding: 10px 36px;
}


.bottom2:hover {
    color: white !important;
    background-color: #D45AFF !important;
    
}