body {
	background-color: #605aff;
	font-family: Roboto,Arial,sans-serif;
}

.rotation_img {
  vertical-align:middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 300px;
  
  top: 0px;
  height: 100%;
  background-color: #2C2F33;
  box-shadow: 1px 1px 20px black;
  
}


li a {
  margin-left: 20px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px 16px;
  text-decoration: none;

  white-space: nowrap;
  -webkit-transition: left 0.1s, -webkit-transform 0.1s;
  -webkit-transform: translateX(2%);
}


li a:hover {
    transform: translateX(10px);
    
}

.navbar {
    display: block;
}

.bouton {
  margin-left: 38px;
  opacity: 1;
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 16px;
  font-weight: 50px;
  font-size: 15px;
  width: 75px;
  border-radius: 50px;
}

h1 {
    opacity: 1;
    vertical-align: text-top;
    position: relative;
    margin-left: 350px;
    top: -450px;
    font-size: 64px;
    color: white;
    font-weight: bold;
    
}

.logo_img {
   display: block;
   position: relative;
   left: 55%;
   top: 100px;
}

@media only screen and (max-width: 1725px) {
  .logo_img {
    display: flex;
    position: relative;
    left: 0px !important;
    top: 100px;
    z-index: -1;
  }
}
