<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0.2/dist/tailwind.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='assets/Songs.png') }}" />
    <title>Song's Bot</title>
</head>

<body>
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-left p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
         
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-right sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="{{ url_for('static', filename='assets/Songs.png') }}">
          <img class="hidden lg:block h-8 w-auto" src="{{ url_for('static', filename='assets/Songs.png') }}">
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
           
            <a href="/me" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
            <a href="/commands" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Commands</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Support</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Vote</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div>
            <button class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu" aria-haspopup="true">
              <img class="h-8 w-8 rounded-full" src="{{user.avatar_url}}" alt="">
            </button>
          </div>
        
    
        </div>
      </div>
    </div>
  </div>

  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a href="/me/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
      <a href="/commands" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Commands</a>
      <a href="https://discord.gg/qaQtvNmdm5" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Support</a>
      <a href="https://top.gg/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Vote</a>
    </div>
  </div>
</nav>

<div style="margin-left: 50px !important; margin-top: 50px"class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 pl-6 inline-block align-bottom bg-gray-800 rounded-lg text-left overflow-hidden bg-gray-800 shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-gray-800 px-2 pt-5 pb-4 sm:p-4 sm:pb-2">
        <form method="post">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="font-semibold text-lg leading-6 font-medium text-white" id="modal-headline">
                Change Prefix
              </h3>
              <input type="int" id="var1" name="guild" value="{{guild_id}}" hidden>
              <input class="bg-gray-800 font-semibold text-white" type="text" name="prefix"
              placeholder="Current prefix: {{prefix}}" maxlength="10"
              class="focus:outline-none" />
            </div>
          </div>
          <div class="bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="submit" class="font-semibold w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-300 text-base font-medium text-white hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div style="margin-left: 50px !important; margin-top: 50px"class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 pl-6 inline-block align-bottom bg-gray-800 rounded-lg text-left overflow-hidden bg-gray-800 shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-gray-800 px-2 pt-5 pb-4 sm:p-4 sm:pb-2">
        <form method="post">
          <input type="int" id="var1" name="guild" value="{{guild_id}}" hidden>
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="font-semibold text-lg leading-6 font-medium text-white" id="modal-headline">
                Custom Color
              </h3>
              <p class="font-medium text-white">Choose the color of the embeds.</p>
              <div class="relative bg-transparent">
                <input class="bg-transparent" type="color" id="head" name="head"
                value="#D45AFF">
            </div>
          </div>
          <div class="bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="submit" class="font-semibold w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-300 text-base font-medium text-white hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
              Save
            </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 50px !important; margin-top: 50px"class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 pl-6 inline-block align-bottom bg-gray-800 rounded-lg text-left overflow-hidden bg-gray-800 shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-gray-800 px-2 pt-5 pb-4 sm:p-4 sm:pb-2">
        <form method="post">
          <input type="int" id="var1" name="guild" value="{{guild_id}}" hidden>
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="font-semibold text-lg leading-6 font-medium text-white" id="modal-headline">
                Order channel
              </h3>
              <p class="font-medium text-white">Choose the channel where commands can be made.</p>
              <div class="relative">
                <select name="channel" id="channel-select" class="block appearance-none w-full border border-green-200 text-green-200 py-3 px-4 pr-8 rounded leading-tight focus:outline-none  bg-gray-800 ">
                {% if id_channel_fin %}
                <option value="{{id_channel_fin[0]}}">#{{id_channel_fin[1]}}</option>
                {% endif %}
                <option value="False">#None</option>
                {% for guild_list in guild_list %}
                <option value="{{guild_list[0]}}">#{{guild_list[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="submit" class="font-semibold w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-300 text-base font-medium text-white hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
              Save
            </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>






<div style="margin-left: 50px !important; margin-top: 50px, background-color: #36393F !important;"class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 active pl-6 inline-block align-bottom bg-transparent rounded-lg text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-transparent px-2 pt-5 pb-4 sm:p-4 sm:pb-2">
        <form method="post">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-semibold text-white" id="modal-headline">
                Message
              </h3>
              <p class="font-medium text-white">Enable or disable message shortcuts to avoid polluting the chatroom</p>
            </div>
          </div>
          <div class="bg-transparent px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <div class="flex items-center justify-center w-full mb-24 bg-transparent">
            
          <form method="post" id="dataform" value="lol1" name="b">
          <label method="post" onchange="myFunction()" 
            for="toogleA" name="New" value="new_value"
            class="flex items-center cursor-pointer bg-transparent">
            <div class="relative bg-transparent">
 
              <input id="toogleA" type="checkbox" name="New" value="new_value" class="hidden bg-transparent"/>
   
              <div 
              class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inne bg-transparent"></div>
     
              <div 
                class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0 bg-transparent"></div>
              </div>

              
            </label>
            </form>
              <form method="post" name="yes" value="bob" id="lol"><input type="int" id="var1" name="guild" value="{{guild_id}}" hidden>
              <input type="int" id="var2" name="edit_comport" value="yes" hidden>
            </form>
            <script>
              function myFunction(form) {
                var form = document.getElementById("lol");
                var var1 = document.getElementById("var1");
                var var2 = document.getElementById("var2");
     
                form.submit(); 
              }
              </script>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>





{% if comport %}
<style>
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: #48bb78;
}


.active {
background-color:  #36393F !important;

}

input:checked ~ .toggle__dot {
  transform: translateX(-15%);
  background-color:  #FFFFFF !important;

}

</style>
{% else %}
<style>
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
</style>
{% endif %}
</html>
